.container {
    position: relative;
    margin: 0 auto;
    padding: 0 166px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    background-color: #ffffff;
}

.title {
    color: #1c2a39;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.box {
    margin-left: 20px;

    display: flex;
    align-items: center;
    gap: 40px;
}
.text {
    color: #5c6a79;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.basket{
    position: relative;
    &_count{
        color: #fff;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        position: absolute;
        background-color: red;
        width: 13px;
        height: 13px;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        top: 10px;
        left: 5px;
    }
    
}
