.container {
    display: flex;
    gap: 36px;
    width: 424px;

    &_img {
        width: 212px;
        height: auto;
        box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
    }
    &_box {
        max-width: 176px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
    }
}

.box {
    &_author {
        color: var(--text-gray, #5c6a79);
        font-size: 10px;
        font-family: Open Sans;
        text-transform: capitalize;
    }
    &_title {
        color: var(--text-black, #1c2a39);
        font-size: 16px;
        font-weight: 700;
    }
    &_raiting {
        display: flex;
        gap: 6px;
        &_star {
        }
        &_review {
        }
    }

    &_description {
        margin: 16px 0;
        color: var(--text-gray, #5c6a79);
        font-size: 10px;
        font-family: Open Sans;
        text-transform: capitalize;
    }
    &_price {
        color: var(--text-black, #1c2a39);
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_button {
        margin: 16px 0;
        color: #4c3db2;
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        width: 176px;
        height: 45px;
        border: 1px solid #4c3db2;
    }
    &_inBasket {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 10px;
        text-transform: uppercase;
        color: #5c6a79;
        border: 1px solid #eeedf5;
    }
}
